/* top bar */

.top-bar {
  background: #f5cbd4;
  padding: 14px 18px;

  display: flex;
  align-items: center;
}

.doctor-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.doctor-info h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* main */

.dashboard-container {
  padding: 25px;
}

/* date */

.date {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: large;
}

/* stats */

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 25px;
}

/* card */

.card {
  background: white;
  border-radius: 14px;

  padding: 15px;
  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card p {
  margin: 0;
  font-size: 13px;
  color: #777;
}

.card h2 {
  margin-top: 6px;
  color: #e95a9b;
}

/* graph */

.graph {
  background: white;
  border-radius: 14px;
  padding: 18px;

  margin-bottom: 25px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.graph-head {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: large;
  color: #555;
}

.graph-card {
  background: white;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.bars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 140px;
  padding-top: 20px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.bar-value {
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

.bar {
  width: 22px;
  background: #e95a9b;
  border-radius: 6px 6px 0 0;
  min-height: 4px;
}

.bar-label {
  font-size: 11px;
  color: #777;
}

/* button */

.main-button {
  --background: #e95a9b;
  --border-radius: 30px;
  font-weight: 600;
}
